#p1{
    color: red; 
}

#p2{
    color: rgb(60, 255, 0); 
}

#p3{
    color: rgb(247, 0, 255); 
}

#p4{
    color: rgb(0, 238, 255); 
}

#p5{
    color: rgb(217, 255, 0); 
}

.para{
    color: brown;
}

.para2{
    color: rgb(4, 0, 255);
}

.pa{
    color: black;
}