.color1 { color: #00ccff; }
.color2 { color: #4B9BFE; }
.color3 { color: #558CFD; }
.color4 { color: #5F7CFD; }
.color5 { color: #696CFC; }
.color6 { color: #745DFB; }
.color7 { color: #7E4DFA; }
.color8 { color: #922EF9; }
.color9 { color: #9C1EF8; }



.gradient-button {
    background: linear-gradient(to right, #4ABFFC, #4B9BFE, #558CFD, #5F7CFD, #696CFC, #745DFB, #7E4DFA, #922EF9, #9C1EF8, #922EF9, #7E4DFA, #745DFB, #696CFC, #5F7CFD, #558CFD, #4B9BFE, #4ABFFC); 
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-position 0.3s ease;
    background-size: 200% 200%;
}

.gradient-button:hover {
    background-position: right center;
    
}